<div class="h-screen w-screen flex justify-center items-center">
  <div class="items-center justify-center h-full max-h-[400px] w-[400px] rounded-2xl shadow-2xl bg-blue-200 text-center p-5">

    <div *ngIf="alert" class="w-full flex gap-x-2 bg-green-200 border border-green-400 text-green-700 p-1 rounded relative">
      <strong class="font-bold text-sm">Success !</strong>
      <p class="text-sm">Your data has been Added Successfully.</p>
      <button type="button" (click)="closeAlert()" class="close ml-auto"><strong>x</strong></button>
    </div>

    <div *ngIf="eror" class="w-full flex gap-x-2 bg-red-200 border border-red-400 text-red-700 p-1 rounded relative">
      <strong class="font-bold text-sm">Failed !</strong>
      <p class="text-sm">Your data has not Added</p>
      <button type="button" (click)="closeEror()" class="close ml-auto"><strong>x</strong></button>
    </div>

    <div>
      <p class="text-3xl font-bold text-blue-900 text-center">REGISTER</p><br>
    </div>

    <form class="grid items-center gap-y-3 p-3" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="firstName" class="bg-gray-100 outline-none rounded-lg text-sm w-full p-2.5"
        placeholder="First Name" required>
      <input type="text" formControlName="lastName" class="bg-gray-100 outline-none rounded-lg text-sm w-full p-2.5"
        placeholder="Last Name" required>
      <input type="text" formControlName="email" class="bg-gray-100 outline-none rounded-lg text-sm w-full p-2.5"
        placeholder="Email" required>
      <input type="text" formControlName="picture" class="bg-gray-100 outline-none rounded-lg text-sm w-full p-2.5"
        placeholder="Place your Image URL">
      <button type="submit" [disabled]="!isSubmitAllow" [disabled]="!profileForm.valid"
        class=" text-white bg-blue-900 outline-none hover:bg-blue-500 font-bold rounded-lg  text-sm px-4 py-2.5 mb-2">Register</button>
    </form>

  </div>
</div>
