<br><br>
<!-- Content -->
<div class="container w-full max-w-[960px] px-1 mx-auto ">

    <div class="bg-gray-100 w-[700px] p-6" *ngFor="let data of posts">

      <div class="flex gap-x-2 items-center">
        <div class="rounded-full bg-gray-400 hover:bg-gray-300 w-[35px] h-[35px] flex items-center justify-center">
          <p class="text-white">J</p>
        </div>
        <div class="grid">
          <a href=""><p class="text-black font-semibold hover:underline">{{data.owner.firstName}} {{ data.owner.lastName }} </p></a>
          <a href=""><p class="text-sm text-gray-400 hover:underline">{{data.publishDate}}</p></a>
        </div>
      </div>

      <div class="grid gap-y-3">
        <p class="text-lg text-black">{{data.text}}</p>
        <img [src]="data.image">
        <span class="h-[2px] w-full bg-gray-300"></span>

        <div class="flex flex-col-2 gap-x-5">
          <div class="flex gap-x-2 hover:text-blue-500">
            <fa-icon [icon]="falike" style="color: black"></fa-icon>
            <p>{{data.likes}}</p>
          </div>
          <div class="flex gap-x-2 hover:text-blue-500">
            <fa-icon [icon]="facoment" style="color: black"></fa-icon>

          </div>
          <div class="flex gap-x-2 hover:text-blue-500">
            <fa-icon [icon]="fashare" style="color: black"></fa-icon>

          </div>
        </div>

        <!-- Coment Section -->
        <div class="flex gap-x-2 items-center">
          <div class="rounded-full bg-gray-400 hover:bg-gray-300 w-[35px] h-[35px] flex items-center justify-center">
            <p class="text-white">B</p>
          </div>
          <div class="grid bg-gray-200 rounded-lg p-3">
            <a href=""><p class="text-black font-semibold hover:underline">Boy Wiliam</p></a>
            <p class="text-black">Anjay Sunmori, kapan-kapan ajakin ya</p>
          </div>
        </div>

      </div>

    </div>

</div>
